{{> header}}
<body>
    <section class="mainContainer">
        <article class="formContainer">
            <form id="login">
                <h1>Login </h1>
                <div class="formfield">
                    <label for="email">Email <i class="fas fa-envelope input-icon"></i></label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="formfield">
                    <label for="password">Password <i class="fas fa-key input-icon"></i></label>
                    <input type="password" name="password" id="password" required>
                </div>
                <button>Login</button>
            </form>
        </article>
        <article class="formContainer">
            <form id="registration">
                <h1>Register</h1>
                <div class="formfield">
                    <label for="name">Name <i class="fas fa-user input-icon"></i></label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div class="formfield">
                    <label for="email">Email <i class="fas fa-envelope input-icon"></i></label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="formfield">
                    <label for="mobile">Mobile <i class="fas fa-mobile input-icon"></i></label>
                    <input type="number" name="mobile" id="mobile" required>
                </div>
                <div class="formfield">
                    <label for="password">Password <i class="fas fa-key input-icon"></i></label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="formfield">
                    <label for="confirm">Confirm <i class="fas fa-key input-icon"></i></label>
                    <input type="password" name="confirm" id="confirm" required>
                </div>
                <button>Register</button>
            </form>
        </article>
    </section>
    <section id="messageDisplay" class="displayBoard">
        <p>This is message display class</p>
    </section>
    <script src="scripts/script.js"></script>
{{> footer}}